body {
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 170vh;
  margin: auto;
  width: 100%;
  /* -webkit-box-shadow: 0px 0px 38px 25px rgba(150, 222, 235, 10);
  -moz-box-shadow: 0px 0px 38px 25px rgba(150, 222, 235, 10);
  box-shadow: 0px 0px 38px 25px rgba(150, 222, 235, 10); */
}
.hrs {
  display: inline-block;
  /* background: hsla(0, 2%, 46%, 0.568); */
  padding: 20px;
  color: white;
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  font-weight: 200px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.boxhrs {
  background: hsla(0, 2%, 46%, 0.568);
  max-width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .boxhrs {
    max-width: 100%;
  }
}

.iblue {
  display: inline-block;
  background: hsla(0, 2%, 46%, 0.568);
  padding: 20px;
  color: white;
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  font-weight: 200px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
@media only screen and (max-width: 600px) {
  .iblue {
    display: inline-block;
    color: white;
    font-size: 50px;
    font-weight: 200px;
    font-family: "Dancing Script", cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}
/* night */
.night {
  background-image: url("./assets/img/night.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 170vh;
  width: 100%;
  /* opacity: 0.5; */
  color: white;
}

.morning {
  background-image: url("./assets/img/morning.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 170vh;
  width: 100%;
  /* opacity: 0.5; */
  color: black;
}

.box {
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Weather */
.rw-main {
  color: #fff;
  max-width: 50%;
  height: 100%;
  background: hsla(0, 2%, 46%, 0.568);
  display: flex;
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  .rw-main {
    color: #fff;
    max-width: 100%;
    height: 100%;
    background: hsla(0, 2%, 46%, 0.568);
    display: flex;
    margin: 0 auto;
  }
}
.rw-main h2 {
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: x-large;
  letter-spacing: 2px;
}
.rw-main .hr {
  width: 100%;
  height: 0;
  border-bottom: solid 1px #fff;
  opacity: 0.4;
  margin: 10px 0;
}
.rw-main p {
  margin: 0;
}
.rw-main.type-today {
  border-radius: 7px;
}
.rw-main.type-5days {
  border-radius: 7px 7px 0 0;
}
.rw-main .rw-box-left {
  padding: 25px;
  width: 60%;
}
.rw-main .rw-box-right {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 7px 7px 0;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rw-main .rw-box-right i {
  font-size: 100px;
}
.rw-main .rw-today .date {
  color: #b5def4;
}
.rw-main .rw-today .current {
  font-size: 50px;
}
.rw-main .rw-today .desc {
  color: #b5def4;
  font-size: 16px;
}
.rw-main .rw-today .desc i {
  font-size: 20px;
  color: #b5def4;
}
.rw-main .rw-today .info {
  color: #b5def4;
}
.rw-main .rw-today .info div {
  margin-bottom: 5px;
}
.rw-box-days {
  clear: both;
  display: flex;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-radius: 0 0 7px 7px;
  font-size: 11px;
  color: #777;
  background-color: #fff;
}
.rw-box-days .rw-day {
  width: calc(100% / 4);
  text-align: center;
  margin: 10px;
}
.rw-box-days .rw-day:not(:first-child) {
  border-left: solid 1px #ddd;
}
.rw-box-days .rw-date {
  font-size: 11px;
  font-weight: bold;
}
.rw-box-days .rw-desc {
  margin-top: 20px;
  font-size: 12px;
}
.rw-box-days .rw-current {
  margin-top: 10px;
  font-size: 20px;
}
.rw-box-days .rw-range {
  font-size: 11px;
}
.rw-box-days .rw-info {
  margin-top: 10px;
  font-size: 12px;
}
.rw-box-days .wicon {
  margin-top: 15px;
  font-size: 35px;
  color: #4bc4f7;
}
.rw-box {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}
